<style>
  table#plugin_redmine_ticketbot_settings th {
    text-align: right;
  }
  table#plugin_redmine_ticketbot_settings td input {
    width:250px;
  }
</style>
<table id="plugin_redmine_ticketbot_settings">
  <tbody>
    <% ['ticketbot_debug','ticketbot_github_access_token','ticketbot_github_repo','ticketbot_github_pullrequest_link_custom_field_id','ticketbot_github_username_custom_field_id','ticketbot_slack_posting_username','ticketbot_slack_webhook_url','ticketbot_slack_username_custom_field_id','ticketbot_redmine_ignore_user_ids'].each do |setting| %>
      <tr>
        <th>
          <%= setting.split('_').map(&:capitalize).join(' ') %>
        </th>
        <td>
          <input type="text" value="<%= settings[setting] %>" name="settings[<%= setting %>]" />
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
